<% provide(:title, @event.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @event.name %>

      </h1>
  	  <div class="span4">
	      <h2>
	        <%= "Event type:" %>
	        <%= @event.event_type %>
	      </h2>
	  </div>

      <div class="span4">
	      <h2>
	        <%= "Date:" %>
	        <%= @event.date %>
	      </h2>
      </div>

      <div class="span4">
	      <h2>
	        <%= "Country:" %>
	        <%= @event.country_id %>
	      </h2>
      </div>

    </section>
  </aside>




</div>